.myCardBody {
  width: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 5px 2px #efebeb;
  border-radius: 20px;
  padding: 1rem;
}

.myLogo:hover {
  cursor: pointer;
}

.myTasks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  overflow: auto;
}

.myInput {
  border: none;
  box-shadow: none;
  margin: 0px;
}

.myInput:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.myHr {
  margin: 0;
}
