@media screen and (max-width: 990px) {
  .myCardBody {
    width: 70% !important;
  }
}

@media screen and (max-width: 575px) {
  .myCardBody {
    width: 100% !important;
  }
}

.myCardBody {
  width: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 5px 2px #efebeb;
  border-radius: 20px;
  padding: 1rem;
  margin: 2%;
}

.myLogo:hover {
  cursor: pointer;
}

.myTasks {
  display: flex;
  flex-direction: column;
  height: 100px;
  overflow: auto;
}

.myListItem {
  display: flex;
  width: 100%;
  align-items: center;
}

.myInput {
  border: none;
  box-shadow: none;
  margin: 0px;
}

.myInput:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.myHr {
  margin: 0;
}

.myDivider {
  flex: 1 0;
}
