@media screen and (max-width: 990px) {
  .myNoteBody {
    margin: 2% 15% !important;
    width: 71% !important;
  }
}

@media screen and (max-width: 575px) {
  .myNoteBody {
    margin: 2% 1% !important;
    width: 98% !important;
  }
}

.myNoteBody {
  width: 51%;
  background-color: #ffffff;
  box-shadow: 0 0 5px 2px #efebeb;
  border-radius: 20px;
  padding: 1rem;
  margin: 2% 25%;
}
